/* Обычный стиль для ссылки */
.link {
    text-decoration: none;
    color: #b380e6; /* цвет для обычной ссылки */
  }

  .active {
    color: #8a2be2; 
  }
  
  /* Стиль при наведении */
  .link:hover {
    color: #a15bc4; /* цвет при наведении */
  }
  